<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首頁</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kablammo&family=Karla+Tamil+Inclined:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>

  <div id="page1">
    <div class="nav">
      <ul>
        <li><a href="#">靈感角落</a></li>
        <li><a href="../template/shop.html">書籍補給</a></li>
        <li><a href="../template/test.html">我的書房</a></li>
      </ul>
    </div>
    <div id="Title">
      <h1>Nooklit</h1>
      <h3>展開文學的魔力 <br> 你的文字之旅，從這裡開始</h3>
    </div>
    <img src="../img/white.jpg" alt="">

  </div>

  <div id="page2">
    <div class="bg"></div>

    <h2>來自韓國諾貝爾文學獎 <br> 韓江的筆觸，穿越白的旅程</h2>
    <img src="../img/pen03.png" alt="" class="pen_1">
    <h3>「 白，是一切的開始，也是結束。」</h3>
    
  </div>
  <div id="page3">
    <div class="bg3"></div>
    <h2>跟著十五歲少年田村卡夫卡的腳步，穿越現實與夢的邊界</h2>
    <img src="../img/beach.jpg" alt=""  class="KAFKA">
    <img src="../img/pen03.png" alt="" class="pen_2">
    <h3>「 村上春樹第十部長篇小說 」</h3>

  </div>

  <div id="page4">
    <div class="bg4"></div>
    <img src="../img/hundred.jpg" alt=""  class="temple">
    <h2>諾貝爾文學獎大師最膾炙人口的代表作！</h2>
    <img src="../img/pen03.png" alt="" class="pen_3">
    <h3>「 因為遭詛咒百年孤寂的家族 <br> 在世界上不會有再來一次的機會……」</h3>
    
  </div>

  <div class="main">


      <div><a href="#">靈感角落</a></div>
      <div><a href="../template/shop.html">書籍補給</a></div>
      <div><a href="../template/test.html">我的書房</a></div>

  </div>





  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>
  <script src="../js/home.js"></script>
</body>
</html>